version: '3.7'

services:

  app:
    # container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - '.:/main/app:Z'
      - '/main/app/node_modules'
    ports:
      - 3000:3000
    environment:
      - CHOKIDAR_USEPOLLING=true

