version: '3.7'

services:

  app:
    container_name: frontend_app_prod
    build:
      context: .
      dockerfile: Dockerfile.prod
    volumes:
      - './main/:/app/:Z'
      - '/app/node_modules'
    ports:
      - 3000:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
    
