# version: "3"

# services:
#   app:
#     build: .
#     ports:
#       - "8000:8000"
#     volumes:
#       - .:/code/:Z
#     tty: true
#     stdin_open: true
#     environment:
#       SERVER_TYPE: 'production'
#       SECRET_KEY: 'asdf1234%#@^afffffkajtekLOLA111333!@kijek'
version: "3"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: gunicorn -w 2 -b 0.0.0.0:8000 --chdir /code/main main.wsgi:application
    environment:
      SERVER_TYPE: 'production'
      SECRET_KEY: 'asdf1234%#@^afffffkajtekLOLA111333!@kijek'
    volumes:
      - ./main/nginx/static:/code/main/static:rw
      - ./main/nginx/media:/code/main/media:rw
    ports:
      - "8000:8000"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./main/nginx/static:/usr/share/nginx/html/static:ro
      - ./main/nginx/media:/usr/share/nginx/html/media:ro
    ports:
      - "8001:80"
    depends_on:
      - app


