version: "3"

services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/code/:Z
    tty: true
    stdin_open: true
    environment:
      SERVER_TYPE: 'production'
      SECRET_KEY: 'asdf1234%#@^afffffkajtekLOLA111333!@kijek'
