version: "3"

volumes:
  postgres_data:

services:
  postgres:
    image: postgres:latest
    container_name: database_app
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: quiero_regresar
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123PoStGrEs!


