.carousel h5 {
	font-weight: 700;
	background: rgba(204, 204, 204, 0.6);
	padding: 5px 15px 5px 15px;
	background-clip: border-box;

}
.carousel p {
	font-weight: 100;
	background: rgba(204, 204, 204, 0.8);
	padding: 5px 15px 5px 15px;
	background-clip: border-box;

}

